
<!-- <h1>Hola Tobías</h1> -->

<!-- <h1> {{ titulo }} </h1> -->
<!-- El elemento h1 representa un encabezado de sección. -->

<!-- Si necesito imprimir, por ejemplo, el valor actual del contador, aquí en el lado del HTML, lo que hago es 
colocar un "span" y el número 0. Si guardamos los cambios vemos que en en el navegador web aparece el cero: -->

<!-- <span> 0 </span> Lo que yo necesito hacer es jugar con este número, incrementando y decrementando su valor. 
Entonces, lo que voy a hacer es utilizar una variable para mantener el estado de este número (para saber si está 
incrementando, restando o cuál es su valor). Para esto, lo que hago es crear una propiedad llamada número dentro
de la clase "AppComponent" del archivo "app.component.ts". -->

<!-- <h3> La base es: <strong> {{ base }} </strong> </h3> -->
<!-- Si yo quiero mostrar la propiedad "base" en el HTML (fue definida en la clase "AppComponent") lo hago mediante
doble llave. Esta palabra "numero" es la propiedad de la clase -->

<!-- El elemento strong representa una gran importancia, seriedad o urgencia para su contenido. -->

<!-- <button (click) = " acumular (base) "> + {{ base }} </button> -->
<!-- Colocamos 2 botones, uno + 1 y otro - 1, los cualespueden verse en el navegador web con los estilos definidos
en el archivo "stiles.css" (por eso aparecen de esa manera). Si yo quiero incrementar el "numero", puedo utilizar
por ejemplo el evento "click" del botón (podría ser otro evento, como por ejemplo "doble click", etc). Es decir,
este botón va a disparar el evento "click". Los eventos son definidos entre paréntesis, lo cual es propio de
Angular. Luego, se coloca un "=" seguido de una expresión de JavaScript, por ejemplo para nuestro caso podría se
" acumular (valor) ". En la aplicación web esto debería incrementar el número con cada click que haga sobre el
boton + 1. -->

<!-- Aquí no utilizo el "this" porque acá implícitamente todo hace referencia a la misma clase. En el temple ya es
como si tuvieramos el "this". -->

<!-- <span> {{ numero }} </span> -->
<!-- Si yo quiero mostrar la propiedad "numero" en el HTML (fue definida en la clase "AppComponent") lo hago
mediante doble llave. Esta palabra "numero" es la propiedad de la clase -->

<!-- <button (click) = " acumular (-base) "> - {{ base }} </button> -->
<!-- En la aplicación web esto debería decrementar el número con cada click que haga sobre el boton - 1. -->


<!-- Si cortamos todo el código anterior (sumado al código definido dentro de la clase "AppComponent" definida en el
archivo "app.component.ts") y lo llevamos al archivo "contador.component.ts", al guardar los cambios se aprecia 
que nuestra aplicación web queda en blanco, esto se debe a que no hay nada de código en este archivo HTML.  -->

<!-- Entonces, la idea ahora es tomar nuestro 'app-contador' y mostrarlo aquí. Lo que se hace es tomar el selector
y ponerlo aquí de la siguiente manera: -->

<!-- <app-contador></app-contador> --> <!-- Para que esto funcione además hace falta verificar que el "app-contador" sea parte 
de ese módulo (ya que es un componente de Angular). Si no hacemos esto último, Angular no puede compilar la
aplicación (da un error grave pues no se reconoce al "app-contador" como un elemento conocido). Entonces, lo que
se debe hacer es colocar el "app-contador" en un módulo. ¿En qué módulo? Pues en el único que tenemos:
"app.module.ts". Precisamente, se debe definir el ContadorComponent dentro de las declaraciones y asegurarse de
importarlo desde el archivo "contador.component.ts" definido anteriormente. -->

<!-- IMPORTANTE: la ventaja es que si yo necesito utilizar más instancias de este contador, puedo hacerlo y cada
instancia maneja su estado de manera independiente. También se puede compartir información entre las instancias 
pero eso se verá más adelante. -->

<app-contador></app-contador>
<!-- Finalmente, tenemos así, un componente que se encarga de mostrar un contador. -->

<!-- <app-heroe></app-heroe> -->
<!-- Recordemos que nuestro punto inicial es el "app.component.html" y es aquí donde voy a colocar mi "app-heroe". -->

<!-- <app-listado></app-listado> -->

<!-- Lo que vemos en el navegador web sale del archivo "listado.component.html" -->


